/* for mobile device 600px */
.hide{
    display: none;
}
@media screen and (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .header-section{
        max-width: 600px;
        background-color: rgb(250, 242, 242);
        margin: 0 auto;
        display: flex;
        position: relative;
    }
    .nav-logo{
        display: flex;
        align-items: center;
        width:50%
    }
    .items-container{
        display: none;
    }
    .menu-icon{
        position: relative;
        border: 20px red solid;
        background-color: red;
    }
    .banner-img{
        max-width:600px;
        margin: 0 auto;
        background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        height: 500px;
        position: relative;
    }
}